body {background-color: rgb(40, 175, 200);
      
}
 table {
	 position: relative;
     width: 75%;
	 float: right;
	 top: 250px;
	 text-align: center;
	 background-color: rgb(70, 210, 110);
       }
 
  h2 {color: rgb(195, 80, 80);
  font-family: "Georgia", serif;
    font-size: 40px;
	height: 25px;
	padding: 10px;
	 	 	 }
			 
  h3 {color: rgb(15, 100, 25);
  font-family: "Georgia", serif;
     font-size: 20px;
	 height: 10px;
	 padding: 5 px;	
	   }
  h4, h5 {color: Blueviolet;
         font-family: "Arial", sans-serif;
		 font-size: 16px;
		  word-spacing: 0.2em;
		  letter-spacing: 0.1em;
		  line-height: 30px;
		  
  } 
  table, th, td {border: 1px solid green;}
  th {color: rgb(170, 90, 55);
     font-size: 18px;}
	 
  td {
	  font-family: "Times New Roman";
      font-size: 16px;
	  	  }
 p {
		  font-family: "Times New Roman";
          font-size: 18px;
		  text-align: justify;
	  }
	  	 
	p.linkmuza {	text-align: center; }    

	
	/* nawigacja */
	#nawigacja  {		
	float: left;		
	position: fixed;		
	top: 0px;		
	left: 7px;
	z-index: 10;		}		
	
	.btn { 
    border: none; /* Remove borders */
    color: white; /* Add a text color */
	font-family: "Georgia", serif; 
	font-weight: bold;
	font-size: 16;
	font-style: italic;
	 line-height: 1.15;
	 letter-spacing: 1px;	
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */}

.glowna {
	   background-color: rgba(50, 110, 50, 0.7);
	   } 
	   
.muzyka {	background-color: rgba(50, 50, 110, 0.7);}
.szydelko{	background-color: rgba(160, 50, 50, 0.7);}

.refleksje {
	background-color: rgba(210, 120, 0, 0.7);} 
/*koniec nawigacji */


.tytul
  {
	   position: fixed;
       top: 60px;
	   width: 100%;
	   text-align: center;
	     	  }
		  
		   /* gridy */
	  
.grid-container { /* wyrównać elementy centralnie */	
  display: grid;
  justify-content: space-between;
  position: related;
  margin: 200px 0px 0px 0px;
  grid-gap: 50px;
  grid-template-areas: "grid-menulewe grid-main grid-menuprawe"
  grid-template-rows: auto;
  grid-template-columns: 18% 55% 18%; 
}
.grid-containermuzyka {
  display: grid;
  position: related;
  grid-gap: 10px;
  grid-template-rows: auto auto;
  grid-template-columns: 20% 77%; 
  
}

 
	/* koniec gridów */	  
		  /* pogridy */	
.grid-menulewe {
	float: left;
	border: none;	 
	 }
  
 .grid-menuprawe {
	float: right;
	border: none;
	 }
 .obrazowanie {
float: left;	
	border: 1px solid rgb(50, 110, 50);
	  border-radius: 10px;
 }
 
 /* koniec podgridów*/
 
 	.btna {
	 border: 1px solid rgb(50, 110, 50);
	 border-radius: 10px;
	 color: black; /* Add a text color */
    padding: 7px 1px; /* Add some padding */
    cursor: pointer;
   background-color: rgba(50, 110, 50, 0.3); }
   
  .btnb {
	 
	 border: none;
	 border-radius: 10px;
	 color: black; /* Add a text color */
	 font-weight: normal;
    padding: 7px 1px; /* Add some padding */
    cursor: pointer;
	background-color: rgba(50, 150, 50, 0.17);
	text-align: left;
  }

.treemusic {
	position: fixed;
	top: 0px;
	right: 0px;
	float: right;
	width: 10%;
	height: 20%;
}

.grid-main {
  
  padding: 15px 50px;
	    	 }
.tresc p{
	 line-height: 1.15;
    display: inline-block;
    }
	
	
	
	.tablemuzyka {
	background-color: rgba(25, 200, 200, 0.7);
}
.TABLESZYDELKO {
background-color: rgba(255, 166, 158, 0.7);}
	
.tablerefleksje {
background-color: rgba(221, 176, 93, 0.7)}


.gatunek {
	 text-transform: uppercase;
	 word-spacing: 0.2em;
		  letter-spacing: 0.07em;
		  font-size: 12px;
		  font-weight: 300;
}
.tytulutworu {
		font-size: 16px; 
		font-family: Georgia; 
		color: Blueviolet;
		line-height: 30px;
}
   
.footer {
	border: 1px solid rgb(50, 110, 50);
	 border-radius: 5px;
   grid-columns: 100%;   
   padding: 15px 30px;
	text-align: center;
}
.footer p {
	font-style: "Times New Roman";
	font-size: 12;
	text-align: center;
	}